bloom>=0.9.3
catkin-pkg>=0.4.16
catkin-tools>=0.4.5
defusedxml>=0.6.0
empy>=3.3.4
netifaces>=0.10.9
pycryptodome>=3.9.7
pycurl>=7.43.0.5
rosdep>=0.18.0
rosinstall>=0.7.8
rosinstall-generator>=0.1.18
rospkg>=1.2.3
Sphinx>=2.4.4
wstool>=0.1.17
wxPython>=4.0.7.post2
